In [2]:
# Using tweets from ISIS fanboys to gather some intelligence about their tweeting behaviour.
# The ISIS tweets database has been shared in kaggle by Fifth Tribe
# https://www.kaggle.com/fifthtribe/how-isis-uses-twitter
import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('tweets.csv')

In [6]:
df.head()

,name,username,description,location,followers,numberstatuses,time,tweets
0,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,NaN,640,49,1/6/2015 21:07,ENGLISH TRANSLATION: 'A MESSAGE TO THE TRUTHFU...
1,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,NaN,640,49,1/6/2015 21:27,ENGLISH TRANSLATION: SHEIKH FATIH AL JAWLANI '...
2,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,NaN,640,49,1/6/2015 21:29,ENGLISH TRANSLATION: FIRST AUDIO MEETING WITH ...
3,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,NaN,640,49,1/6/2015 21:37,ENGLISH TRANSLATION: SHEIKH NASIR AL WUHAYSHI ...
4,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,NaN,640,49,1/6/2015 21:45,ENGLISH TRANSLATION: AQAP: 'RESPONSE TO SHEIKH...

In [37]:
df.dtypes

1/6/2015 21:07 <class 'str'>

In [46]:
import time

def hour_of_tweet(ts):
    tweet_time = time.strptime(ts, '%m/%d/%Y %H:%M')
    return tweet_time.tm_hour

In [49]:
ts_tweet = df.iloc[0]['time']
print(ts_tweet, type(ts_tweet), hour_of_tweet(ts_tweet))

21

In [55]:
ts_tweets = df.iloc[0:5]['time']
ts_tweets

0    1/6/2015 21:07
1    1/6/2015 21:27
2    1/6/2015 21:29
3    1/6/2015 21:37
4    1/6/2015 21:45
Name: time, dtype: object

In [60]:
# add column tweet_hour to the tweets data frame
df['tweet_hour'] = df['time'].apply(lambda ts : time.strptime(ts, '%m/%d/%Y %H:%M').tm_hour)

In [62]:
df.head(3)

,name,username,description,location,followers,numberstatuses,time,tweets,tweet_hour
0,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,NaN,640,49,1/6/2015 21:07,ENGLISH TRANSLATION: 'A MESSAGE TO THE TRUTHFU...,21
1,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,NaN,640,49,1/6/2015 21:27,ENGLISH TRANSLATION: SHEIKH FATIH AL JAWLANI '...,21
2,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,NaN,640,49,1/6/2015 21:29,ENGLISH TRANSLATION: FIRST AUDIO MEETING WITH ...,21

In [89]:
#tw_by_hour = df[['username','tweet_hour']].groupby(['tweet_hour']).count()
tw_by_hour = df[['username','tweet_hour']].groupby(['tweet_hour']).agg(['count'])

type(tw_by_hour)

pandas.core.frame.DataFrame

In [91]:
tbh_series = tw_by_hour['username']['count']
type(tbh_series)

pandas.core.series.Series

In [107]:
tbh_series

tweet_hour
0      387
1      293
2      221
3      164
4      216
5      259
6      390
7      348
8      390
9      568
10     640
11     634
12     755
13     917
14    1060
15    1088
16    1009
17    1110
18    1385
19    1397
20    1366
21    1198
22     978
23     637
Name: count, dtype: int64

In [ ]:
plt.scatter(songs_in_hour_pd["hour"], songs_in_hour_pd["count"])
plt.xlim(-1, 24);
plt.ylim(0, 1.2 * max(songs_in_hour_pd["count"]))
plt.xlabel("Hour")
plt.ylabel("Total Tweets");